node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore folders not needed for docker build
/.github
/docker
/img

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
