{
  "arrowParens": "avoid",
  "importOrder": [
    "",
    "<BUILTIN_MODULES>",
    "",
    "^./\\$types$",
    "",
    "^\\$app/(.*)$",
    "",
    "^\\$lib/(.*)$",
    "",
    "^\\$env/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    ""
  ],
  "importOrderTypeScriptVersion": "5.5.4",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-svelte"],
  "printWidth": 120
}
