{
  "arrowParens": "avoid",
  "importOrder": ["^./\\$types$", "^\\$app/(.*)$", "^\\$lib/(.*)$", "^\\$env/(.*)$", "<THIRD_PARTY_MODULES>"],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "printWidth": 120
}
